<a href="https://colab.research.google.com/github/Anchalavg/LetsUpgrade-Python-Essentials/blob/master/primeno..ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for loop to print all the prime numbers between 1-200.

In [7]:
lower = int (input("enter the lower interval: "))
upper = int (input("enter the upper interval: "))
for num in range(lower,upper+1):
  if num>1:
    for i in range(2,num):
      if (num%i)==0:
        break
    else:
        print(num)

enter the lower interval: 1
enter the upper interval: 200
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199